:root {
    --background: #f4efde;
    --header-background: white;
}

body, html {
    height: 100%;
    width: 100%;
    background: var(--background);
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 9% 80% 11%;
    border: solid 10px black;
}

header {
    display: flex;
    align-items: left;
    background-color: var(--header-background);
    border-bottom: solid 10px black;
}

footer {
    border-top: solid 10px black;
}